{% extends 'dashboard/base/base.html' %}
{% load static %}
{% block title %}Post{% endblock title %}

{% block body %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Posts</h1>
        <a href="/dashboard/add-article" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add Article</a>
    </div>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Post List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Post Id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Published At</th>
                            <th>Category</th>
                            <th>Source</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in all_posts %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.topic}}</td>
                            <td>{{i.authors}}</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>{{i.category}}</td>
                            <td>{{i.article_source}}</td>
                            <td>
                                <a href="/dashboard/edit-article/{{i.id}}">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock body %}

              

           