{% extends 'base.html' %}
{% load static %}
{% block title %}Videos{% endblock title %}

{% block body %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Videos</h1>
        <a href="add-video/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add Video</a>
    </div>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Videos List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Post Id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Published At</th>
                            <th>Category</th>
                            <th>Source</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>56565656</td>
                            <td>Congress' HP win lesson to keep Rahul Gandhi away from state polls: BJP's Amit Malviya</td>
                            <td>Hindustan Samachar</td>
                            <td>09-12-2022, 01:33 PM</td>
                            <td>National, Politics</td>
                            <td>Hindustan Samachar</td>
                            <td>
                                <a href="">
                                    <button class="btn btn-primary mar-5-0">Edit</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock body %}

              

           