.mar-5-0 {
    margin: 5px 0;
  }
.loginbg{
  background-image: url("../img/loginbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.p-4-5{
  padding: 2rem 3rem !important;
}
.loginbg .card{
  background-color: #ffffffed !important;
}

.red{
  color: red;
}
.panel-heading.note-toolbar{
  background: hsla(0,0%,50.2%,.11);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.note-btn{
  border-color: rgba(0,0,0,.2);
  background: white;
  padding: .28rem .65rem;
  font-size: 13px;
}
.post-body .dropdown-toggle::after{
  display: none !important;
}
.form-group {
    margin-bottom: 2rem;
}
label{
    color: black;
}
.red{
    color: red;
}
.check-div{
  border: 1px solid #aaadaa80;
  padding: 5px;
  width: fit-content;
  margin: 0 5px 5px 0;
}
.link-label{
  background: lightgrey;
  margin: 0;
  padding: 5px;
  width: 100%;
}
.link-box{
  border-radius: 0 0 .35rem .35rem;
}
.add-btn{
  width: 85px;
}